Adafruit-Blinka==8.43.0
adafruit-circuitpython-bme680==3.7.6
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.0
adafruit-circuitpython-requests==4.0.0
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.70.1
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.8.1
args==0.1.0
board==1.0
clint==0.5.1
colorama==0.4.6
halo==0.0.31
log-symbols==0.0.14
MacTmp==0.0.9
numpy==2.0.0
opencv-python==4.10.0.82
psutil==5.9.8
py-cpuinfo==9.0.0
pyftdi==0.55.4
pyserial==3.5
pyusb==1.2.1
setuptools==69.5.1
six==1.16.0
spinners==0.0.24
termcolor==2.4.0
typing_extensions==4.12.2
websockets==12.0
wheel==0.43.0
